
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="header">
<div class="hd-top">
      <div class="logo"><img width="150px" height="66px" src="~/images/logo.png"/></div>
      <div class = "menu-top">
            <ul>
            		<li><a href="index.html">Trang Chủ</a></li>
                    <li><a href="">Giới Thiệu</a></li>         
                    <li><a href=""></a></li> 
                    <li><a href="">Liên Hệ</a></li> 
            </ul>
    </div>
  </div>
	<div class="banner">
    <img src="~/images/bg.jpg"/>
    </div>	
        <div class = "menu-body">
            <ul >	
                    <li><a href="dieule.html">Điều Lệ </a></li>          
                    <li><a href="lichthidau.html">Lịch Thi Đấu</a></li> 
                    <li><a href="ketqua.html">Kết Quả</a></li> 
                    <li><a href="">Thống Kê</a></li> 
            </ul>
        </div>
</div>
<div class="page-body">  
    <div class="body-left">
    	 <div class="decription">
    		<div><a href="#"><img src="~/images/anhbanner.jpg"/></a></div>
            <div class="caption" style=" width: 490px; height: 82px; display: block;font-size: 12px;">
            <div class="content" style="opacity: 1;padding-left: 10px;    padding-bottom: 5px;    padding-top: 2px;">
            <h3>Becamex Bình Dương gặp Sông Lam Nghệ An ở chung kết Cúp Quốc gia - Sứ Thiên Thanh 2017</h3>
            Becamex Bình Dương gặp Sông Lam Nghệ An ở chung kết Cúp Quốc gia - Sứ Thiên Thanh 2017 với thể thức thi đấu lượt đi (ngày 9/11 trên sân Bình Dương) và trận lượt về trên sân Vinh (dự kiến vào ngày 29/11). Đồng thời, sau trận đấu này, BTC giải sẽ...</div>
        	</div>
    	</div>
         <div class="title">
    		<div id="news">
                       <div class="topn">TIN MỚI</div>
                       <div class="hotnew" title="Chi tiết"><a href="chitiet.html">Danh sách đăng ký thi đấu chính thức giữa Than Quảng Ninh vs FLC Thanh Hóa</a></div>
                       <div class="hotnew" title="Chi tiết" ><a href="chitiet.html">Danh sách đăng ký thi đấu giữa TP. Hồ Chí Minh 1-1 Becamex Bình Dương</a></div>
                       <div class="hotnew" title="Chi tiết"><a href="chitiet.html">Thông báo số 23 - Giải bóng đá VĐQG TOYOTA 2017</a></div
                       ><div class="hotnew" title="Chi tiết"><a href="chitiet.html">Lịch THTT vòng 22 giải bóng đá VĐQG - TOYOTA 2017</a></div>
                       <div class="hotnew" title="Chi tiết"><a href="chitiet.html">Danh sách cầu thủ nghỉ thi đấu tại vòng 22 - Giải VĐQG TOYOTA 2017</a></div>                 
		   </div>   
    	 </div>
         
         <div class="bgiai">
             	  <div class="vdqg fl">
                       <div class="title" onclick="window.location='/vdqg-vleague/';"></div>
		       <li><a href="">Danh sách đăng ký thi đấu chính thức giữa CLB Hà...</a></li><li><a href="">Danh sách đăng ký thi đấu chính thức giữa CLB Long...</a></li><li><a href="">Danh sách đăng ký thi đấu chính thức giữa Than Quảng...</a></li><li><a href="">Danh sách đăng ký thi đấu giữa TP. Hồ Chí Minh...</a></li><li><a href="">Danh sách đăng ký thi đấu giữa Sanna Khánh Hòa BVN...</a></li>                       <span class="more fr">« <a href="/vdqg-vleague/">Các tin khác</a> »</span>
                  </div>
             	  <div class="cupqg fl">
                       <div class="title" onclick="window.location='/cup-quoc-gia/';"></div>
		       <li><a href="">Thông báo số 4 - Giải bóng đá Cúp QG -...</a></li><li><a href="">Lịch thi đấu VCK giải bóng đá Cúp QG - Sứ...</a></li><li><a href="">Danh sách đăng ký thi đấu chính thức giữa Quảng Nam...</a></li><li><a href="">Danh sách đăng ký thi đấu chính thức giữa Becamex Bình...</a></li><li><a href="">Lịch THTT vòng Bán kết lượt về Cúp Quốc Gia -...</a></li>                       <span class="more fr">« <a href="">Các tin khác</a> »</span>
                  </div>
             	  <div class="hnqg fl">
                       <div class="title" onclick=""></div>
		       <li><a href="">Số liệu chuyên môn sau vòng 14 - Giải bóng đá...</a></li><li><a href="">Danh sách đăng ký thi đấu CLB Bình Phước 3-2 CLB...</a></li><li><a href="">Danh sách đăng ký thi đấu CLB Viettel 4-0 CLB XM...</a></li><li><a href="">Danh sách đăng ký thi đấu CLB Đăk Lăk 3-2 CLB...</a></li><li><a href="">Lịch THTT Vòng 14 Giải bóng đá HNQG Sứ Thiên Thanh 2017</a></li>                       <span class="more fr">« <a href="">Các tin khác</a> »</span>
                  </div>
             </div>
    </div>
    
    <div class="body-right">
   <div class="xephang topn" style="   margin-left: 5px;">BẢNG XẾP HẠNG</div>
                       <div id="dt_vdqg" class="tabtop">
                  <div class="tieude"><div class="thutu color_vangcam fl">XH</div><div class="doibong color_vangcam fl">Đội bóng</div><div class="tran color_vangcam fl">Trận</div><div class="hieuso color_vangcam fl">HS</div><div class="dso color_vangcam fl">Điểm</div></div>
                  <div class="tieude1"><div class="thutu fl">1</div><div class="tvien fl"><a href="">Hà Nội</a></div><div class="tran fl">22</div><div class="hieuso fl">19</div><div class="diemso fl">39</div></div><div class="tieude2"><div class="thutu fl">2</div><div class="tvien fl"><a href="">Quảng Nam</a></div><div class="tran fl">22</div><div class="hieuso fl">10</div><div class="diemso fl">39</div></div><div class="tieude"><div class="thutu fl">3</div><div class="tvien fl"><a href="">FLC Thanh Hóa</a></div><div class="tran fl">22</div><div class="hieuso fl">10</div><div class="diemso fl">38</div></div><div class="tieude"><div class="thutu fl">4</div><div class="tvien fl"><a href="">Sanna Khánh Hòa BVN</a></div><div class="tran fl">22</div><div class="hieuso fl">3</div><div class="diemso fl">37</div></div><div class="tieude"><div class="thutu fl">5</div><div class="tvien fl"><a href="">Than Quảng Ninh</a></div><div class="tran fl">22</div><div class="hieuso fl">6</div><div class="diemso fl">36</div></div><div class="tieude"><div class="thutu fl">6</div><div class="tvien fl"><a href="">Hải Phòng</a></div><div class="tran fl">22</div><div class="hieuso fl">5</div><div class="diemso fl">35</div></div><div class="tieude"><div class="thutu fl">7</div><div class="tvien fl"><a href="">Sài Gòn</a></div><div class="tran fl">22</div><div class="hieuso fl">6</div><div class="diemso fl">34</div></div><div class="tieude"><div class="thutu fl">8</div><div class="tvien fl"><a href="/doi-bong/7-SHB-Da-Nang.html">SHB Đà Nẵng</a></div><div class="tran fl">22</div><div class="hieuso fl">6</div><div class="diemso fl">30</div></div><div class="tieude"><div class="thutu fl">9</div><div class="tvien fl"><a href="">Sông Lam Nghệ An</a></div><div class="tran fl">22</div><div class="hieuso fl">-1</div><div class="diemso fl">27</div></div><div class="tieude"><div class="thutu fl">10</div><div class="tvien fl"><a href="">TP Hồ Chí Minh</a></div><div class="tran fl">22</div><div class="hieuso fl">-7</div><div class="diemso fl">25</div></div><div class="tieude"><div class="thutu fl">11</div><div class="tvien fl"><a href="">Becamex Bình Dương</a></div><div class="tran fl">22</div><div class="hieuso fl">-1</div><div class="diemso fl">22</div></div><div class="tieude"><div class="thutu fl">12</div><div class="tvien fl"><a href="">Hoàng Anh Gia Lai</a></div><div class="tran fl">22</div><div class="hieuso fl">-11</div><div class="diemso fl">21</div></div><div class="tieude13"><div class="thutu fl">13</div><div class="tvien fl"><a href="">XSKT Cần Thơ</a></div><div class="tran fl">22</div><div class="hieuso fl">-17</div><div class="diemso fl">18</div></div><div class="tieude14"><div class="thutu fl">14</div><div class="tvien fl"><a href="">Long An</a></div><div class="tran fl">22</div><div class="hieuso fl">-28</div><div class="diemso fl">10</div></div>
             </div>
<div class="bright">
             <div class="topn" style="   margin-left: 5px;">KÊNH YOUTUBE</div>
             <iframe style="height: 250px;margin-left: 5px;border: 0px;" src="https://www.youtube.com/v/gtpV_AfAyX4"></iframe>
                       <div class="bbot"></div>
          </div>
    </div>
    
    </div>
  
</div>
<footer>
	<p>-----Design by Team 23 ----</p>
	<p>Phạm Minh Phúc 1411060939</p>
	<p>Nguyễn Thanh Long 1411060939</p>
	<p>Phạm Thế Hùng 1411060939</p>
	<p>Nguyễn Thị Phương Khanh 1411060939</p>
	
</footer>
</body>
</html>
