body
{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
}
 ul li a{
	text-decoration:none;
	color:#FFF;
}
.menu-top{text-align:center;}
.menu-body{
	text-align:center;
	background: #0072bb;
	margin-top:0px;
    margin-right: 13%;
    margin-bottom: 5px;
    float: right;
 }
.menu-body ul{ margin-top:0px;}
.menu-body ul li{
	list-style:none;
	display:inline-table;
	padding:10px;
	padding-right: 154px;
	font-size:17px;
	margin-top:auto;
}
.menu-top ul{
	    margin-top: 10px;
}
.menu-top ul li{
    list-style: none;
    display: inline;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-right: 10px;
}
.menu-top{
	    /* text-align: right; */
    /* margin-right: 2px; */
    background: #0072bb;
    border-radius: 100px;
    /* width: 48%; */
    height: 40px;
    float: right;
    margin-top: 20px;
    
}
footer{
	text-align:center ;
	color:red;
	width: 100%;
    float: left;
}
.hd-top
{
	width:1000px;
	margin:auto;
}
.banner img
{
	width:1000px;
    margin-left: 13%;
    margin-right:13%;
}
.logo
{
	width: 50%;
    float: left;
}
.page-body{width:1000px; margin:auto;height:700px;}
.body-right{width:30%;float:right;font-size:12px}
.body-left{width:70%; float:left;}
.decription{width:70%;float:left}
.decription img{width:100%;float:left}
.title{width:30%; float:right;}
.caption{
    padding-top: 259px;
    position: absolute;	
}
h3{color:#FF3;}
.content{color:white;  
    background-color: rgba(0, 0, 0, 0.7); }
.topn{    color: white;
    background: red;
    text-align: center;
    height: 30px;
    padding-top: 6px;
	margin-bottom:8px;
    font-size: 16px;
	}
.hotnew{
    padding-top: 11px;
    padding-left: 8px;
    background: #f1f1f1;
    padding-bottom: 11px;
    border-left: thick solid #ff0000;
    margin-bottom: 8px;
    padding-right: 4px;
    font-size: 12px;
}
a{text-decoration:none;
color:black;}
.tabtop a{text-decoration:none;color:#000}
.hotnew a:hover{color:#0072bb}
h2{       margin-top: 0px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;}
.dstop ul li a{color:black}
.dstop ul li{list-style:none;
text-align:center}
.fl{float:left;}
#dt_vdqg , .tabtop{    margin-left: 10px;    float: right;}

.tvien {
    width: 156px;
    text-align: left;
    padding-left: 5px;
}

.tieude1 {
    width: 100%;
    float: left;
    padding:6px 0px;
    margin: 0px;
    border-bottom: 1px #cfcfcf dashed;
    background: #f9e6d9;
    font-weight: bold;
}

.tieude {
    width: 100%;
    float: left;
    padding: 3px 0px;
    margin: 0px;
    border-bottom: 1px #cfcfcf dashed;
}
.tieude2 {
    width: 100%;
    float: left;
    padding: 6px 0px;
    margin: 0px;
    border-bottom: 1px #cfcfcf dashed;
    background: #feece8;
    font-weight: bold;
}
.thutu {
    width: 30px;
    text-align: center;
}

.tran {
    width: 30px;
    text-align: center;
}
.hieuso {
    width: 35px;
    text-align: center;
}
.color_vangcam, .color_vangcam a {
    color: #fd7e02;
}
.doibong {
    width: 161px;
    text-align: left;
}
.tran {
    width: 30px;
    text-align: center;
}
.dso {
    width: 30px;
    text-align: center;
    color: #fd7e02;
}

.tieude10, .tieude14 {
    width: 100%;
    float: left;
    padding: 5px 0px;
    margin: 0px;
    border-bottom: 1px #cfcfcf dashed;
    background: #e2e4e5;
    font-weight: bold;
}

.bgiai {
    overflow: hidden;
    height: 300px;
    margin-bottom: 7px;
    background: url(bggiai.gif) no-repeat top center;
	width: 100%;
	    font-size: 12px;
}
.bgiai .vdqg, .bgiai .cupqg {
    width: 226px;
    margin-top: 5px;
    margin-right: 7px;
}
.bgiai .hnqg {
    width: 226px;
    margin-top: 5px;
}
.bgiai .title {
    width: 226px;
    height: 55px;
    margin-bottom: 5px;
    cursor: pointer;
}
.bgiai .vdqg li {
    overflow: hidden;
    text-align: justify;
    background: url(icon.png) no-repeat left -35px;
    margin: 8px 10px 0px 10px;
    padding: 3px 0px 1px 15px;
	list-style-type: none;
}
.bgiai .vdqg, .bgiai .cupqg {
    width: 226px;
    margin-top: 5px;
    margin-right: 7px;
}
.bgiai .cupqg li {
    overflow: hidden;
    text-align: justify;
    background: url(icon.png) no-repeat left 5px;
    margin: 8px 10px 0px 10px;
    padding: 3px 0px 1px 15px;
	list-style-type: none;
}
.bgiai .hnqg li {
    overflow: hidden;
    text-align: justify;
    background: url(icon.png) no-repeat left -220px;
    margin: 8px 10px 0px 10px;
    padding: 3px 0px 1px 15px;
	list-style-type: none;
}
.bright
{
	float:right;
	margin-top: 8px;
}
.more {
    padding-right: 8px;
    font: italic 12px Tahoma;
}
.fr {
    float: right;
}

.titledt {
    margin-bottom: 10px;
    text-align: left;
    font: bold 12px Tahoma;
    text-transform: uppercase;
    line-height: 20px;
    color: #ff1400;
    text-shadow: 1px 1px 0 #d8d8d8;
    border-bottom: 1px #f75646 solid;
}
.detail {
    overflow: hidden;
    text-align: justify;
    background: #fafafa;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px #fbdbd5 solid;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
	font-size: 14px;
}
.detail .dtieude {
    font: bold 14px Tahoma;
    margin-bottom: 10px;
    margin-top: 10px;
}

.detail .dtime {
    float: left;
    font: normal 11px Arial;
    margin-top: 5px;
    color: #9b9b9b;
}

.detail .dcont {
    clear: both;
    padding-bottom: 10px;
}

.detail .dkhac {
    clear: both;
    font: bold 12px Tahoma;
    color: #0091cc;
    border-top: 1px #c3e1f8 dashed;
    padding: 10px 0px;
}

.detail li.khac {
    background: url(li.gif) no-repeat left center;
    padding-left: 15px;
    margin: 5px 0px;
	list-style-type:none;
}

.mess {
    font: bold 14px Tahoma;
    color: red;
}

.htitle {
    font: bold 12px Arial;
    color: #fff;
    background: #07aff3;
    padding: 0px 5px;
    line-height: 23px;
}

.detail .dbchu {
    width: 143px;
    overflow: hidden;
    text-align: right;
    padding-right: 10px;
}

.bg_trang {
    background: #fff;
}

.tiso {
    display: block;
    width: 39px;
    overflow: hidden;
    line-height: 18px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #ff4534;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

table
{
	font-size:12px;
}

.detail .dbkhach {
    width: 143px;
    overflow: hidden;
    text-align: left;
    padding-left: 10px;
}